extends main

block content
    h4 About class
    table
        tr
            td Subject:
            td= _class.subject.title
        tr
            td Teacher(s):
            td= _class.teachers.map(teacher => {return teacher.name})
        tr
            td Time:
            td= _class.time
    a(href=_class.url + '/students') Students enrolled on #{_class.name}